<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <input
    class="uploadBtn"
    type="file"
    class="upload"
    (change)="uploadFile($event)"
    class="filebtn"
    #fileButton
  />
  <input
    class="uploadBtn"
    type="file"
    class="upload"
    (change)="uploadFile2($event)"
    class="filebtn"
    #fileButton2
  />
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="ion-text-center ion-text-uppercase">
          <h3>ajouter un employé</h3>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xs="12" size-md="6" size-lg="6" size-sm="12"> </ion-col>
    </ion-row>
    <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>
      <ion-row>
        <ion-col
          size-xs="12"
          size-md="3"
          size-lg="3"
          size-sm="12"
          (click)="galerie()"
          class="ion-align-self-center"
        >
          <ion-thumbnail *ngIf="!photoURL" class="thumbnailM">
            <ion-img src="../../../assets/person.jpg"></ion-img>
          </ion-thumbnail>
          <ion-thumbnail *ngIf="photoURL" class="thumbnailM">
            <ion-img *ngIf="photoURL" [src]="photoURL"></ion-img>
          </ion-thumbnail>
        </ion-col>
        <ion-col
          size-xs="12"
          size-md="3"
          size-lg="3"
          size-sm="12"
          class="ion-align-self-center"
        >
          <ion-item lines="full">
            <ion-label position="floating">Name</ion-label>
            <ion-input formControlName="name" type="text"></ion-input>
          </ion-item>
          <span
            class="error ion-padding"
            *ngIf="isSubmitted && errorControl.name.errors?.required"
          >
            Name is required.
          </span>
          <span
            class="error ion-padding"
            *ngIf="isSubmitted && errorControl.name.errors?.minlength"
          >
            Name should be min 2 chars long.
          </span>
          <span
            class="error ion-padding"
            *ngIf="isSubmitted && errorControl.name.errors?.maxLength"
          >
            Name not should be max 20 chars long.
          </span>
        </ion-col>
        <ion-col
          class="ion-align-self-center"
          size-xs="12"
          size-md="3"
          size-lg="3"
          size-sm="12"
        >
          <ion-item lines="full">
            <ion-label position="floating">Poste</ion-label>
            <ion-input formControlName="poste" type="text"></ion-input>
          </ion-item>
          <span
            class="error ion-padding"
            *ngIf="isSubmitted && errorControl.poste.errors?.required"
          >
            Name is required.
          </span>
          <span
            class="error ion-padding"
            *ngIf="isSubmitted && errorControl.poste.errors?.minlength"
          >
            Name should be min 2 chars long.
          </span>
          <span
            class="error ion-padding"
            *ngIf="isSubmitted && errorControl.poste.errors?.maxLength"
          >
            Name not should be max 20 chars long.
          </span>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col
          size-xs="12"
          size-md="3"
          size-lg="3"
          size-sm="12"
          (click)="galerie2()"
          class="ion-align-self-center"
        >
          <ion-button
            *ngIf="!photoURL2"
            size="small"
            fill="clear"
            class="thumbnailM"
          >
            cni
            <ion-icon slot="end" name="image-outline"></ion-icon>
          </ion-button>
          <ion-thumbnail *ngIf="photoURL2" class="thumbnailM">
            <ion-img *ngIf="photoURL2" [src]="photoURL2"></ion-img>
          </ion-thumbnail>
        </ion-col>
        <ion-col
          class="ion-align-self-center"
          size-xs="12"
          size-md="3"
          size-lg="3"
          size-sm="12"
        >
          <ion-item lines="full">
            <ion-label position="floating">Email</ion-label>
            <ion-input formControlName="email" type="email"></ion-input>
          </ion-item>
          <span
            class="error ion-padding"
            *ngIf="isSubmitted && errorControl.email.errors?.required"
          >
            Email is required.
          </span>
          <span
            class="error ion-padding"
            *ngIf="isSubmitted && errorControl.email.errors?.pattern"
          >
            Please provide valid email id.
          </span>
        </ion-col>
        <ion-col
          class="ion-align-self-center"
          size-xs="12"
          size-md="3"
          size-lg="3"
          size-sm="12"
        >
          <ion-item lines="full">
            <ion-label position="floating">Mobile</ion-label>
            <ion-input
              maxlength="10"
              formControlName="mobile"
              type="text"
              required
            ></ion-input>
          </ion-item>
          <span
            class="error ion-padding"
            *ngIf="isSubmitted && errorControl.mobile.errors?.required"
          >
            Mobile number is required.
          </span>
          <span
            class="error ion-padding"
            *ngIf="isSubmitted && errorControl.mobile.errors?.pattern"
          >
            Only numerical values allowed.
          </span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col
          size-xs="12"
          size-md="3"
          size-lg="3"
          size-sm="12"
          class="ion-align-self-center"
        >
          <ion-item lines="full">
            <ion-label position="floating">Password</ion-label>
            <ion-input formControlName="password" type="text"></ion-input>
          </ion-item>
          <span
            class="error ion-padding"
            *ngIf="isSubmitted && errorControl.password.errors?.required"
          >
            password is required.
          </span>
          <span
            class="error ion-padding"
            *ngIf="isSubmitted && errorControl.password.errors?.minlength"
          >
            password should be min 2 chars long.
          </span>
          <span
            class="error ion-padding"
            *ngIf="isSubmitted && errorControl.password.errors?.maxLength"
          >
            password not should be max 20 chars long.
          </span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="danger" expand="block"
            >Submit</ion-button
          >
        </ion-col>
      </ion-row>
    </form>
    <ion-row>
      <ion-col>
        <div class="ion-text-center ion-text-uppercase">
          <h3>liste employés</h3>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xs="12" size-md="3" size-lg="3" size-sm="12"> </ion-col>
      <ion-col size-xs="12" size-md="6" size-lg="6" size-sm="12">
        <ion-list>
          <ion-item *ngFor="let user of userList">
            <ion-thumbnail *ngIf="user.photoUser" class="imgthumbnail">
              <ion-img [src]="user.photoUser"></ion-img>
            </ion-thumbnail>
            <ion-icon
              *ngIf="!user.photoUser"
              slot="start"
              name="person-outline"
            ></ion-icon>
            <ion-label>
              <h2>{{user.name}}</h2>
              <p>Email:{{user.email}}, Telephone: {{user.mobile}}</p>
            </ion-label>
            <ion-button fill="clear" slot="end" (click)="removeEmploye(user)"
              >delete
              <ion-icon slot="end" name="trash-bin-outline"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size-xs="12" size-md="3" size-lg="3" size-sm="12"> </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
