.grid {
}

.dive {
  // margin: -25px 0 0 -25px;
  //width: 70%;
  // border: 3px solid green;
  position: absolute;
  top: 25%;
  left: 13%;
  margin: -25px 0 0 -25px;
  // left: 50%;
  width: 80%;
  height: 50%;
  // background-color: red;
}
.round {
  --width: 250px;
  --height: 250px;
}
