.grid {
}

.dive {
  // margin: -25px 0 0 -25px;
  //width: 70%;
  // border: 3px solid green;
  position: absolute;
  top: 25%;
  left: 13%;
  margin: -25px 0 0 -25px;
  // left: 50%;
  width: 80%;
  height: 50%;
  // background-color: red;
}
.round {
  --width: 250px;
  --height: 250px;
}

.first {
  display: block;
  // background-color: #9c9797;
}
.first {
  display: flex;
  //flex-wrap: nowrap;
  //justify-content: space-between;
  background-color: #f1f1f1;
}
.first div {
  // width: 25%;
  flex-grow: 1;
  border: 1px solid #f1f1f1;
  margin: 15px;
  background-color: #f1f1f1;
}

.second {
  display: flex;
  background-color: #f1f1f1;
  // flex-wrap: wrap;
  // justify-content: space-between;
}
.second div {
  // width: 25%;
  flex-grow: 1;
  border: 1px solid #f1f1f1;
  margin: 15px;
}
ion-label {
  text-transform: uppercase;
}
ion-input {
  font-size: 13px;
  text-transform: lowercase;
}

p {
  font-size: 11px;
  text-transform: uppercase;
}
ion-textarea {
  font-size: 11px;
  text-transform: uppercase;
}
h6 {
  font-size: 12px;
}
h3 {
  font-size: 12px;
}
.ion-text-uppercase {
  font-size: 12px;
}
.inte {
  font-size: 11px;
  text-transform: lowercase;
}
.with-border {
  border: 1px solid #f1f1f1;
}
.recommandation {
  padding-left: 40%;
  padding-right: 40%;
}
.filebtn {
  opacity: 0;
  position: absolute;
  top: -100em;
  left: -100em;
  display: none;
}

.uploadBtn {
  display: none;
}
.thumbnailM {
  height: 50px;
  width: 50px;
}
.imgthumbnail {
  margin-right: 10px;
}
.buttonPick {
  font-size: 9px;
}
@media screen and (max-width: 950px) {
  .first {
    display: flex;
    flex-wrap: wrap;
    //justify-content: space-between;
  }
  .first div {
    // width: 25%;
    flex-grow: 1;
    border: 1px solid #f1f1f1;
    margin: 15px;
  }

  .second {
    display: flex;
    // flex-wrap: wrap;
    // justify-content: space-between;
  }
  .second div {
    // width: 25%;
    flex-grow: 1;
    border: 1px solid #f1f1f1;
    margin: 15px;
  }

  .second {
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
  }

  .second div {
    // width: 25%;
    flex-grow: 1;
    border: 1px solid #f1f1f1;
    margin: 15px;
  }

  ion-col div {
    font-size: 10px;
  }
  ion-label {
    font-size: 8px;
    text-transform: uppercase;
  }
}
.reste {
  color: rgb(243, 72, 72);
}

.recu {
  color: rgb(52, 156, 241);
}
