<div class="desktop landing">
  <section class="container">
    <div class="dark-overlay">
      <div class="landing-inner">
        <h1 class="x-large">MAERI</h1>
        <p class="lead">point of sale</p>
        <form #formadmin="ngForm" (ngSubmit)="login(formadmin)" class="form">
          <div class="form-group">
            <ion-input
              class="form-control"
              name="telephone"
              inputmode="tel"
              placeholder="phone number"
              ngModel
              required
              maxlength="11"
              [(ngModel)]="userNumber"
            ></ion-input>
          </div>
          <div class="form-group">
            <ion-input
              class="form-control"
              name="password"
              type="password"
              placeholder="Password"
              ngModel
              required
              (ionChange)="handleInput($event)"
            ></ion-input>
          </div>
          <div class="btnhome">
            <ion-button
              size="large"
              expand="block"
              color="danger"
              (click)="login(formadmin)"
              [disabled]="formadmin.invalid"
              >Login</ion-button
            >
          </div>

          <div class="btnhome" *ngIf="!maeriAdmin">
            <ion-button size="small" clear expand="block" color="success"
              >forgot password ?</ion-button
            >
          </div>
        </form>
      </div>
    </div>
  </section>
</div>
