<ion-header>
  <ion-toolbar color="medium">
    <ion-title></ion-title>
    <ion-buttons slot="start" *ngIf="!add">
      <ion-back-button defaultHref="/add-projet"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [disabled]="tabTravaux.length == 0" (click)="saveProjet()">
        <ion-icon slot="icon-only" name="save-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="dismiss()" *ngIf="add">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <div>
      <ion-row>
        <ion-col>
          <div class="ion-text-uppercase ion-text-center">
            <h6>PROJET: {{projet.name}}</h6>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </div>

  <ion-grid>
    <ion-row *ngIf="!add">
      <ion-col size-md="12" size-lg="12" size-xs="6" size-sm="6" size-xl="12">
        <div class="cole">
          <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>
            <div>
              <div>
                <ion-row>
                  <ion-col>
                    <div class="ion-text-uppercase ion-text-center">
                      <h6 *ngIf="tabTravaux.length == 0">
                        ajouter des travaux au projet
                      </h6>
                      <h6 *ngIf="tabTravaux.length" class="travauxAjoutes">
                        travaux ajoutés au projet: {{tabTravaux.length}}
                      </h6>
                    </div>
                  </ion-col>
                </ion-row>
              </div>
            </div>
            <div class="first">
              <div class="divint" *ngIf="displayForm">
                <ion-item lines="none">
                  <ion-label position="floating">Nom du travail</ion-label>
                  <ion-input
                    placeholder="Entrer le nom du travail"
                    formControlName="name"
                    type="text"
                  ></ion-input>
                </ion-item>
                <span
                  class="error ion-padding"
                  *ngIf="isSubmitted && errorControl.name.errors?.required"
                >
                  Name is required.
                </span>
                <span
                  class="error ion-padding"
                  *ngIf="isSubmitted && errorControl.name.errors?.minlength"
                >
                  Name should be min 2 chars long.
                </span>
                <span
                  class="error ion-padding"
                  *ngIf="isSubmitted && errorControl.name.errors?.maxLength"
                >
                  Name not should be max 20 chars long.
                </span>
              </div>

              <div>
                <ion-item lines="none">
                  <ion-label position="floating">Description</ion-label>
                  <ion-textarea
                    placeholder="faite une description ici"
                    formControlName="description"
                    type="text"
                  ></ion-textarea>
                </ion-item>
                <span
                  class="error ion-padding"
                  *ngIf="isSubmitted && errorControl.description.errors?.required"
                >
                  description is required.
                </span>
                <span
                  class="error ion-padding"
                  *ngIf="isSubmitted && errorControl.description.errors?.minlength"
                >
                  Name should be min 5 chars long.
                </span>
                <span
                  class="error ion-padding"
                  *ngIf="isSubmitted && errorControl.description.errors?.maxLength"
                >
                  Name not should be max 1000 chars long.
                </span>
              </div>
              <div>
                <ion-item lines="none" class="itemcustum">
                  <ion-button
                    color="success"
                    slot="start"
                    (click)="pickActivitiName()"
                  >
                    Ajouter activités au travail
                    <ion-icon slot="end" name="add-outline"></ion-icon>
                  </ion-button>
                </ion-item>
              </div>
            </div>

            <div>
              <div>
                <ion-row>
                  <ion-col>
                    <div
                      class="ion-text-uppercase ion-text-center"
                      *ngIf="activitiesList"
                    >
                      <h6 (click)="pickActivitiName()">liste des activités</h6>
                    </div>
                  </ion-col>
                </ion-row>
              </div>
            </div>

            <div *ngIf="activitiesList && activitiesList.length">
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <div *ngIf="activitiesList && activitiesList.length ">
                      <ion-row class="header-row">
                        <ion-col size="2" class="ion-align-self-center">
                          <div class="ion-text-center ion-text-uppercase">
                            Nom
                          </div>
                        </ion-col>

                        <ion-col size="2" class="ion-align-self-center">
                          <div class="ion-text-center ion-text-uppercase">
                            éxécutant
                          </div>
                        </ion-col>
                        <ion-col size="2" class="ion-align-self-center">
                          <div class="ion-text-center ion-text-uppercase">
                            date début
                          </div>
                        </ion-col>
                        <ion-col size="2" class="ion-align-self-center">
                          <div class="ion-text-center ion-text-uppercase">
                            materiels
                          </div>
                        </ion-col>
                        <ion-col size="2" class="ion-align-self-center">
                          <div class="ion-text-center ion-text-uppercase">
                            Cout matériel
                          </div>
                        </ion-col>
                        <ion-col size="2" class="ion-align-self-center">
                          <div class="ion-text-center ion-text-uppercase">
                            Main d'oeuvre
                          </div>
                        </ion-col>
                      </ion-row>
                    </div>
                    <ion-row
                      *ngFor="let row of activitiesList; let i= index"
                      class="data-row data-update"
                      [ngStyle]="{'background-color': i % 2 == 0 ? '#f1f1f1' : 'white' }"
                    >
                      <ion-col
                        size="2"
                        class="ion-align-self-center"
                        [ngStyle]="{'height': '30px' }"
                      >
                        <div class="ion-text-center">{{row.name}}</div>
                      </ion-col>
                      <ion-col size="2" class="ion-align-self-center">
                        <div
                          class="ion-text-center"
                          (click)="addExecutant(row)"
                        >
                          {{row.executant.length}}
                        </div>
                      </ion-col>
                      <ion-col size="2" class="ion-align-self-center">
                        <div class="ion-text-center">
                          {{row.startAt | date:'medium'}}
                        </div>
                      </ion-col>
                      <ion-col size="2" class="ion-align-self-center">
                        <div class="ion-text-center">
                          {{row.besoinMateriel}}
                        </div>
                      </ion-col>

                      <ion-col size="2" class="ion-align-self-center">
                        <div class="ion-text-center ion-text-uppercase">
                          {{row.coutMateriel ? row.coutMateriel : 0}} Fcfa
                        </div>
                      </ion-col>
                      <ion-col size="2" class="ion-align-self-center">
                        <div class="ion-text-center ion-text-uppercase">
                          {{row.coutmaindoeuvre ? row.coutmaindoeuvre : 0}} Fcfa
                        </div>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
            <ion-row>
              <ion-col>
                <div
                  class="ion-text-center"
                  *ngIf="activitiesList && activitiesList.length "
                >
                  <ion-button type="submit" color="danger" size="small"
                    >Ajouter le travail au projet</ion-button
                  >
                </div>
              </ion-col>
            </ion-row>
          </form>
        </div>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="add">
      <ion-col>
        <div class="cole">
          <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>
            <div>
              <div>
                <ion-row>
                  <ion-col>
                    <div class="ion-text-uppercase ion-text-center">
                      <h6 *ngIf="tabTravaux.length == 0">
                        ajouter des travaux au projet
                      </h6>
                      <h6 *ngIf="tabTravaux.length" class="travauxAjoutes">
                        travaux ajoutés au projet: {{tabTravaux.length}}
                      </h6>
                    </div>
                  </ion-col>
                </ion-row>
              </div>
            </div>
            <div>
              <div *ngIf="displayForm">
                <ion-item lines="none">
                  <ion-label position="floating">Nom du travail</ion-label>
                  <ion-input
                    placeholder="Entrer le nom du travail"
                    formControlName="name"
                    type="text"
                  ></ion-input>
                </ion-item>
                <span
                  class="error ion-padding"
                  *ngIf="isSubmitted && errorControl.name.errors?.required"
                >
                  Name is required.
                </span>
                <span
                  class="error ion-padding"
                  *ngIf="isSubmitted && errorControl.name.errors?.minlength"
                >
                  Name should be min 2 chars long.
                </span>
                <span
                  class="error ion-padding"
                  *ngIf="isSubmitted && errorControl.name.errors?.maxLength"
                >
                  Name not should be max 20 chars long.
                </span>
              </div>

              <div>
                <ion-item lines="none">
                  <ion-label position="floating">Description</ion-label>
                  <ion-textarea
                    placeholder="faite une description ici"
                    formControlName="description"
                    type="text"
                  ></ion-textarea>
                </ion-item>
                <span
                  class="error ion-padding"
                  *ngIf="isSubmitted && errorControl.description.errors?.required"
                >
                  description is required.
                </span>
                <span
                  class="error ion-padding"
                  *ngIf="isSubmitted && errorControl.description.errors?.minlength"
                >
                  Name should be min 5 chars long.
                </span>
                <span
                  class="error ion-padding"
                  *ngIf="isSubmitted && errorControl.description.errors?.maxLength"
                >
                  Name not should be max 1000 chars long.
                </span>
              </div>
              <div>
                <ion-item lines="none" class="itemcustum">
                  <ion-button
                    color="success"
                    slot="start"
                    (click)="pickActivitiName()"
                  >
                    Ajouter activités au travail
                    <ion-icon slot="end" name="add-outline"></ion-icon>
                  </ion-button>
                </ion-item>
              </div>
            </div>

            <div>
              <div>
                <ion-row>
                  <ion-col>
                    <div
                      class="ion-text-uppercase ion-text-center"
                      *ngIf="activitiesList"
                    >
                      <h6 (click)="pickActivitiName()">liste des activités</h6>
                    </div>
                  </ion-col>
                </ion-row>
              </div>
            </div>

            <div *ngIf="activitiesList && activitiesList.length">
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <div *ngIf="activitiesList && activitiesList.length ">
                      <ion-row class="header-row">
                        <ion-col size="2" class="ion-align-self-center">
                          <div class="ion-text-center ion-text-uppercase">
                            Nom
                          </div>
                        </ion-col>

                        <ion-col size="2" class="ion-align-self-center">
                          <div class="ion-text-center ion-text-uppercase">
                            éxécutant
                          </div>
                        </ion-col>
                        <ion-col size="2" class="ion-align-self-center">
                          <div class="ion-text-center ion-text-uppercase">
                            date début
                          </div>
                        </ion-col>
                        <ion-col size="2" class="ion-align-self-center">
                          <div class="ion-text-center ion-text-uppercase">
                            materiels
                          </div>
                        </ion-col>
                        <ion-col size="2" class="ion-align-self-center">
                          <div class="ion-text-center ion-text-uppercase">
                            Cout matériel
                          </div>
                        </ion-col>
                        <ion-col size="2" class="ion-align-self-center">
                          <div class="ion-text-center ion-text-uppercase">
                            Main d'oeuvre
                          </div>
                        </ion-col>
                      </ion-row>
                    </div>
                    <ion-row
                      *ngFor="let row of activitiesList; let i= index"
                      class="data-row data-update"
                      [ngStyle]="{'background-color': i % 2 == 0 ? '#f1f1f1' : 'white' }"
                    >
                      <ion-col
                        size="2"
                        class="ion-align-self-center"
                        [ngStyle]="{'height': '30px' }"
                      >
                        <div class="ion-text-center">{{row.name}}</div>
                      </ion-col>
                      <ion-col size="2" class="ion-align-self-center">
                        <div
                          class="ion-text-center"
                          (click)="addExecutant(row)"
                        >
                          {{row.executant.length}}
                        </div>
                      </ion-col>
                      <ion-col size="2" class="ion-align-self-center">
                        <div class="ion-text-center">
                          {{row.startAt | date:'medium'}}
                        </div>
                      </ion-col>
                      <ion-col size="2" class="ion-align-self-center">
                        <div class="ion-text-center">
                          {{row.besoinMateriel}}
                        </div>
                      </ion-col>

                      <ion-col size="2" class="ion-align-self-center">
                        <div class="ion-text-center ion-text-uppercase">
                          {{row.coutMateriel ? row.coutMateriel : 0}} Fcfa
                        </div>
                      </ion-col>
                      <ion-col size="2" class="ion-align-self-center">
                        <div class="ion-text-center ion-text-uppercase">
                          {{row.coutmaindoeuvre ? row.coutmaindoeuvre : 0}} Fcfa
                        </div>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
            <ion-row>
              <ion-col>
                <div
                  class="ion-text-center"
                  *ngIf="activitiesList && activitiesList.length "
                >
                  <ion-button type="submit" color="danger" size="small"
                    >Ajouter le travail au projet</ion-button
                  >
                </div>
              </ion-col>
            </ion-row>
          </form>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
