<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/employee"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size-xs="12" size-md="3" size-lg="3" size-sm="12"> </ion-col>
    <ion-col size-xs="12" size-md="6" size-lg="6" size-sm="12">
      <ion-list>
        <ion-item>
          <ion-thumbnail *ngIf="employe.photoUser" class="imgthumbnail">
            <ion-img [src]="employe.photoUser"></ion-img>
          </ion-thumbnail>
          <ion-icon
            *ngIf="!employe.photoUser"
            slot="start"
            name="person-outline"
          ></ion-icon>
          <ion-label> </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label position="floating">Name</ion-label>
          <ion-input [(ngModel)]="employe.name" type="texte"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-label position="floating">Salaire</ion-label>
          <ion-input [(ngModel)]="employe.salaire" type="number"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-label position="floating">Telephone</ion-label>
          <ion-input [(ngModel)]="employe.mobile" type="texte"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-label position="floating">Email: </ion-label>
          <ion-input [(ngModel)]="employe.email" type="texte"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>User Role</ion-label>
          <ion-select
            placeholder="Select One"
            (ionChange)="selectEvent($event)"
          >
            <ion-select-option
              *ngFor="let role of roles; let i= index"
              [value]="role"
              >{{role.name}}</ion-select-option
            >
          </ion-select>
        </ion-item>
      </ion-list>
      <ion-button color="danger" (click)="updatEmploye()"> update</ion-button>
    </ion-col>
    <ion-col size-xs="12" size-md="3" size-lg="3" size-sm="12"> </ion-col>
  </ion-row>
</ion-content>
