/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.desktop-wrapper {
  ion-toolbar {
    text-align: center;
  }

  ion-header {
    &.header-md:after {
      background: none;
    }
  }
}
@media screen and (max-width: 513px) {
  h3 {
    font-size: 9px;
  }
  /* .round {
    --width: 60px;
    --height: 60px;
    // --vertical-align: middle;
    --padding-start: 10px;
    --padding-end: 10px;
    font-size: 9px;
  }
  .ion-no-border {
    border: none;
  } */
}

@media screen and (min-width: 513px) {
  h3 {
    font-size: 11px;
  }
  /* .round {
    --width: 60px;
    --height: 60px;
    // --vertical-align: middle;
    --padding-start: 10px;
    --padding-end: 10px;
    font-size: 9px;
  }
  .ion-no-border {
    border: none;
  } */
}

.my-custom-class .alert-wrapper {
  // background: #ec0c96;
  // background-color: greenyellow;
  overflow: scroll;
}
.my-custom-class {
  // background: #ec0c96;
}
ion-select-option {
  // overflow: scroll;
}
.alert-radio-group.sc-ion-alert-md,
.alert-checkbox-group.sc-ion-alert-md {
  position: relative;
  max-height: 240px;
  border-top: 1px solid var(--ion-color-step-150, #d9d9d9);
  border-bottom: 1px solid var(--ion-color-step-150, #d9d9d9);
  overflow: visible;
}
