<div class="desktop">
  <ion-header mode="ios">
    <ion-toolbar>
      <ion-row class="ion-align-items-center" *ngIf="isDesktop">
        <ion-col size="2">
          <img src="../assets/splash.png" class="logo ion-text-left" />
        </ion-col>
        <ion-col size="10">
          <div class="navbar" class="left">
            <ion-button
              fill="clear"
              routerLink="/tabs/tab1"
              routerDirection="root"
              routerLinkActive="active-link"
              class="link"
            >
            </ion-button>
            <ion-button
              fill="clear"
              routerLink="/tabs/tab2"
              routerDirection="root"
              routerLinkActive="active-link"
              class="link"
            >
            </ion-button>
            <ion-button
              fill="clear"
              routerLink="/tabs/tab3"
              routerDirection="root"
              routerLinkActive="active-link"
              class="link"
            >
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon slot="icon-only" name="person-circle"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
</div>
<ion-content>
  <div class="dive">
    <ion-grid class="grid">
      <ion-row>
        <ion-col size-xs="4" size-md="3" size-lg="3" size-sm="4">
          <div class="ion-text-center ion-text-uppercase">
            <h3>employés</h3>
            <ion-button
              class="round"
              fill="outline"
              size="large"
              routerLink="/employee"
              routerDirection="forward"
            >
              <ion-icon name="person-add-outline"></ion-icon>
            </ion-button>
          </div>
        </ion-col>
        <ion-col size-xs="4" size-md="3" size-lg="3" size-sm="4">
          <div class="ion-text-center ion-text-uppercase">
            <h3>équipements</h3>
            <ion-button
              class="round"
              fill="outline"
              size="large"
              routerLink="/equipement"
              routerDirection="forward"
            >
              <ion-icon name="construct-outline"></ion-icon>
            </ion-button>
          </div>
        </ion-col>
        <ion-col size-xs="4" size-md="3" size-lg="3" size-sm="4">
          <div class="ion-text-center ion-text-uppercase">
            <h3>statistique</h3>
            <ion-button
              class="round"
              fill="outline"
              size="large"
              routerLink="/inventory"
              routerDirection="forward"
            >
              <ion-icon name="reader-outline"></ion-icon>
            </ion-button>
          </div>
        </ion-col>
        <ion-col size-xs="4" size-md="3" size-lg="3" size-sm="4">
          <div class="ion-text-center ion-text-uppercase">
            <h3>activités</h3>

            <ion-button
              class="round"
              fill="outline"
              size="large"
              size="large"
              routerLink="/created-activitie"
              routerDirection="forward"
            >
              <ion-icon name="film-outline"></ion-icon>
            </ion-button>
          </div>
        </ion-col>
        <ion-col size-xs="4" size-md="3" size-lg="3" size-sm="4">
          <div class="ion-text-center ion-text-uppercase">
            <h3>salaire</h3>
            <ion-button
              routerLink="/salaire"
              routerDirection="forward"
              class="round"
              fill="outline"
              size="large"
            >
              <ion-icon name="save-outline"></ion-icon>
            </ion-button>
          </div>
        </ion-col>
        <ion-col size-xs="4" size-md="3" size-lg="3" size-sm="4">
          <div class="ion-text-center ion-text-uppercase">
            <h3>inventaire</h3>
            <ion-button
              routerLink="/manager-inventory"
              routerDirection="forward"
              class="round"
              class="round"
              fill="outline"
              size="large"
            >
              <ion-icon name="image-outline"></ion-icon>
            </ion-button>
          </div>
        </ion-col>
        <ion-col size-xs="4" size-md="3" size-lg="3" size-sm="4">
          <div class="ion-text-center ion-text-uppercase">
            <h3>nom activité</h3>
            <ion-button
              routerLink="/add-activitie-name"
              routerDirection="forward"
              class="round"
              fill="outline"
              size="large"
            >
              <ion-icon name="trail-sign-outline"></ion-icon>
            </ion-button>
          </div>
        </ion-col>
        <ion-col size-xs="4" size-md="3" size-lg="3" size-sm="4">
          <div class="ion-text-center ion-text-uppercase">
            <h3>Achats</h3>
            <ion-button
              routerLink="/achats"
              class="round"
              fill="outline"
              size="large"
            >
              <ion-icon name="cart-outline"></ion-icon>
            </ion-button>
          </div>
        </ion-col>
      </ion-row>

      <ion-row> </ion-row>
    </ion-grid>
  </div>
</ion-content>
