<ion-header>
  <ion-toolbar color="medium">
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/created-activitie"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <div>
      <ion-row>
        <ion-col>
          <div class="ion-text-uppercase ion-text-center">
            <h6>planifier l'éxcution</h6>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </div>
  <div class="date">
    <div class="input-group">.</div>

    <div class="input-group">
      <input
        style="display: none"
        class="form-control"
        placeholder="yyyy-mm-dd"
        name="dp"
        ngbDatepicker
        #d="ngbDatepicker"
        [(ngModel)]="model"
      />
      <div class="input-group-append">
        <ion-button
          fill="clear"
          color="primary"
          size="small"
          class="btn btn-outline-secondary calendar"
          (click)="d.toggle()"
          type="button"
          >Debut <ion-icon name="calendar"></ion-icon
        ></ion-button>
      </div>
    </div>
    <div class="input-group">
      <pre>{{model.day}}/{{model.month}}/{{model.year}}</pre>
    </div>
    <div class="input-group">
      <pre>{{model2.day}}/{{model2.month}}/{{model2.year}}</pre>
    </div>
    <div class="input-group">
      <input
        style="display: none"
        class="form-control"
        placeholder="yyyy-mm-dd"
        name="dp2"
        ngbDatepicker
        #d2="ngbDatepicker"
        [(ngModel)]="model2"
      />
      <div class="input-group-append">
        <ion-button
          fill="clear"
          color="warning"
          size="small"
          class="btn btn-outline-secondary calendar"
          (click)="d2.toggle()"
          type="button"
          >Fin <ion-icon name="calendar"></ion-icon
        ></ion-button>
      </div>
    </div>

    <div class="input-group">.</div>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size-md="12" size-lg="12" size-xs="12" size-sm="12" size-xl="12">
        <div class="cole">
          <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>
            <div>
              <div>
                <ion-row>
                  <ion-col>
                    <div class="ion-text-uppercase ion-text-center">
                      <h6>details :</h6>
                    </div>
                  </ion-col>
                </ion-row>
              </div>
            </div>
            <div class="first">
              <div class="divint">
                <ion-item lines="none" class="itemcustum">
                  <ion-select
                    [interfaceOptions]="customAlertOptions"
                    interface="alert"
                    placeholder="Nom activité"
                    cancelText="Annuler"
                    okText="Ok"
                    (ionChange)="selectNameEvent($event)"
                  >
                    <ion-select-option
                      *ngFor="let mat of nameList; let i= index"
                      [value]="mat"
                      >{{mat.name}}</ion-select-option
                    >
                  </ion-select>
                </ion-item>
              </div>
              <!--
                <div class="divint">
                <ion-item lines="none">
                  <ion-label position="floating">Nom</ion-label>
                  <ion-input
                    placeholder="Entrer le nom de l'activité ici"
                    formControlName="name"
                    type="text"
                  ></ion-input>
                </ion-item>
                <span
                  class="error ion-padding"
                  *ngIf="isSubmitted && errorControl.name.errors?.required"
                >
                  Name is required.
                </span>
                <span
                  class="error ion-padding"
                  *ngIf="isSubmitted && errorControl.name.errors?.minlength"
                >
                  Name should be min 2 chars long.
                </span>
                <span
                  class="error ion-padding"
                  *ngIf="isSubmitted && errorControl.name.errors?.maxLength"
                >
                  Name not should be max 20 chars long.
                </span>
              </div>
             -->
              <div>
                <ion-item lines="none">
                  <ion-label position="floating">executant</ion-label>
                  <ion-input
                    placeholder="Entrer l'information ici"
                    formControlName="executant"
                    type="texte"
                  ></ion-input>
                </ion-item>

                <span
                  class="error ion-padding"
                  *ngIf="isSubmitted && errorControl.executant.errors?.minlength"
                >
                  Please provide valid executant .
                </span>
                <span
                  class="error ion-padding"
                  *ngIf="isSubmitted && errorControl.executant.errors?.maxLength"
                >
                  Please provide valid executant .
                </span>
                <span
                  class="error ion-padding"
                  *ngIf="isSubmitted && errorControl.executant.errors?.required"
                >
                  Entrer le executant.
                </span>
              </div>

              <div class="divint">
                <ion-item lines="none">
                  <ion-label position="floating">Superficie</ion-label>
                  <ion-input
                    placeholder="Entrer la superficie ici"
                    formControlName="superficie"
                    type="texte"
                  ></ion-input>
                </ion-item>

                <span
                  class="error ion-padding"
                  *ngIf="isSubmitted && errorControl.superficie.errors?.minlength"
                >
                  Please provide valid superficie .
                </span>
                <span
                  class="error ion-padding"
                  *ngIf="isSubmitted && errorControl.superficie.errors?.maxLength"
                >
                  Please provide valid superficie .
                </span>
              </div>
              <div>
                <ion-item lines="none">
                  <ion-label position="floating">Main d'oeuvre</ion-label>
                  <ion-input
                    placeholder="Entrer le cout de la main d'oeuvre ici"
                    formControlName="coutmaindoeuvre"
                    type="texte"
                  ></ion-input>
                </ion-item>
                <span
                  class="error ion-padding"
                  *ngIf="isSubmitted && errorControl.coutmaindoeuvre.errors?.minlength"
                >
                  Please provide valid price .
                </span>
                <span
                  class="error ion-padding"
                  *ngIf="isSubmitted && errorControl.coutmaindoeuvre.errors?.maxLength"
                >
                  Please provide valid price .
                </span>
                <span
                  class="error ion-padding"
                  *ngIf="isSubmitted && errorControl.coutmaindoeuvre.errors?.required"
                >
                  Entrer le cout de la main d'oeuvre.
                </span>
              </div>
            </div>

            <div class="second">
              <div>
                <ion-item lines="none">
                  <ion-label position="floating">Fréquence</ion-label>
                  <ion-input
                    placeholder="Entrer la fréquence ici"
                    formControlName="frequence"
                    type="texte"
                  ></ion-input>
                </ion-item>

                <span
                  class="error ion-padding"
                  *ngIf="isSubmitted && errorControl.frequence.errors?.minlength"
                >
                  Please provide valid frequence .
                </span>
                <span
                  class="error ion-padding"
                  *ngIf="isSubmitted && errorControl.frequence.errors?.maxLength"
                >
                  Please provide valid frequence .
                </span>
                <span
                  class="error ion-padding"
                  *ngIf="isSubmitted && errorControl.frequence.errors?.required"
                >
                  Entrer le frequence.
                </span>
              </div>
              <div>
                <ion-item lines="none">
                  <ion-label position="floating">periode</ion-label>
                  <ion-input
                    placeholder="Entrer la période ici"
                    formControlName="periode"
                    type="texte"
                  ></ion-input>
                </ion-item>

                <span
                  class="error ion-padding"
                  *ngIf="isSubmitted && errorControl.periode.errors?.minlength"
                >
                  Please provide valid periode .
                </span>
                <span
                  class="error ion-padding"
                  *ngIf="isSubmitted && errorControl.periode.errors?.maxLength"
                >
                  Please provide valid periode .
                </span>
                <span
                  class="error ion-padding"
                  *ngIf="isSubmitted && errorControl.periode.errors?.required"
                >
                  Entrer la periode.
                </span>
              </div>
              <div>
                <ion-item lines="none">
                  <ion-label position="floating">Description</ion-label>
                  <ion-textarea
                    placeholder="faite une description ici"
                    formControlName="description"
                    type="text"
                  ></ion-textarea>
                </ion-item>
                <span
                  class="error ion-padding"
                  *ngIf="isSubmitted && errorControl.description.errors?.required"
                >
                  description is required.
                </span>
                <span
                  class="error ion-padding"
                  *ngIf="isSubmitted && errorControl.description.errors?.minlength"
                >
                  Name should be min 5 chars long.
                </span>
                <span
                  class="error ion-padding"
                  *ngIf="isSubmitted && errorControl.description.errors?.maxLength"
                >
                  Name not should be max 1000 chars long.
                </span>
              </div>

              <div>
                <ion-item lines="none">
                  <ion-label position="floating">cout materiel</ion-label>
                  <ion-input
                    placeholder="Entrer le cout ici"
                    formControlName="coutMateriel"
                    type="texte"
                  ></ion-input>
                </ion-item>

                <span
                  class="error ion-padding"
                  *ngIf="isSubmitted && errorControl.coutMateriel.errors?.minlength"
                >
                  Please provide valid cout materiel .
                </span>
                <span
                  class="error ion-padding"
                  *ngIf="isSubmitted && errorControl.coutMateriel.errors?.maxLength"
                >
                  Please provide valid cout materiel .
                </span>
                <span
                  class="error ion-padding"
                  *ngIf="isSubmitted && errorControl.coutMateriel.errors?.required"
                >
                  Entrer le cout materiel.
                </span>
              </div>
            </div>

            <div>
              <div>
                <ion-row>
                  <ion-col>
                    <div class="ion-text-uppercase ion-text-center">
                      <h6>liste matériels</h6>
                    </div>
                  </ion-col>
                </ion-row>
              </div>
            </div>
            <div class="second three">
              <div>
                <ion-item>
                  <ion-label>besoin materiel</ion-label>
                  <ion-select
                    placeholder="materiel"
                    cancelText="Annuler"
                    okText="Ok"
                    (ionChange)="selectEvent($event)"
                  >
                    <ion-select-option
                      *ngFor="let mat of materieList; let i= index"
                      [value]="mat"
                      >{{mat.name}}</ion-select-option
                    >
                  </ion-select>
                </ion-item>
              </div>
              <div>
                <ion-item>
                  <ion-input
                    disabled="{{isDisabled}}"
                    placeholder="entrer quantité"
                    debounce="500"
                    (ionChange)="addQuantity($event)"
                    type="number"
                  ></ion-input>
                </ion-item>
              </div>
              <div>
                <ion-button
                  [disabled]="(!disabled)"
                  (click)="addMateriel()"
                  size="small"
                  >valider</ion-button
                >
              </div>
            </div>
            <div *ngIf="tab.length">
              <ion-row
                *ngFor="let mat of tab; let i= index"
                style="width: 100%; max-height: 600px; overflow-y: scroll"
                class="data-row data-update"
                [ngStyle]="{'background-color': i % 2 == 0 ? '#f1f1f1' : 'white' }"
              >
                <ion-col
                  size="3"
                  class="ion-align-self-center"
                  [ngStyle]="{'height': '30px' }"
                >
                  <div class="ion-text-center inte">{{mat.name}}</div>
                </ion-col>
                <ion-col
                  size="3"
                  class="ion-align-self-center"
                  [ngStyle]="{'height': '30px' }"
                >
                  <div class="ion-text-center inte">{{mat.qty}}</div>
                </ion-col>
                <ion-col size="3" class="ion-align-self-center">
                  <div class="ion-text-center inte">
                    {{mat.price | currency: "FCFA":"symbol":"3.0-0":"fr"}}
                  </div>
                </ion-col>
                <ion-col size="3" class="ion-align-self-center">
                  <div class="ion-text-center inte">
                    {{mat.price * mat.qty | currency:
                    "FCFA":"symbol":"3.0-0":"fr"}}
                  </div>
                </ion-col>
              </ion-row>
            </div>
            <ion-row>
              <ion-col>
                <div class="ion-text-center">
                  <ion-button type="submit" color="danger" size="small"
                    >Submit</ion-button
                  >
                </div>
              </ion-col>
            </ion-row>
          </form>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
